@inherits DialogTemplateBase

<DialogTemplate Title="@Title">
    <DialogBody>
        @Content
    </DialogBody>
    <DialogFooter>
        <button @onclick="Ok">Ok</button>
        <button @onclick="Cancel">Cancel</button>
    </DialogFooter>
</DialogTemplate>

@code {
    [Parameter] public string Content { get; set; }
    void Ok() => Dialog.DialogService.Close(true);
    void Cancel() => Dialog.DialogService.Close(false);
}